
.section{
    width: 400px;
    margin: auto;
}

.dived{
    background-color: black;
}

#myResult{
    border: 2px solid;
   height: 100px;
    font-size: 30px;
    padding: 5px;
   
}
td input{
    height: 50px;
    width: 90px;
    font-size: 20px;
    
}


table{
    /* background-color: black; */
    width: 400px;
    border: 2px solid;
}


.bg-change{
    background-color: rgb(255, 242, 127);
}


@media only screen and (max-width: 600px){
    .section{
        width: 100%;
    }
    td input{
        height: 50px;
        width: 50px;
        font-size: 20px;
        border-radius: 100%;
    }

    table{
        /* background-color: black; */
        width: 100%;
        border: 2px solid;
        padding-left: 10px;
    }
    
}